<header>
    <nav class="navbar">
        <div class="logo">
            <img src="assets/images/logomain.png" alt="Logo">
            <span>MentalTech</span>
        </div>
        <div class="menu-toggle" (click)="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
        <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
            <li><a href="index.html">Home</a></li>
            <li><a href="testimonials">Depoimentos</a></li>
            <li><a href="whoweare">Quem Somos</a></li>
            <ng-container *ngIf="isUserLoggedIn(); else loggedOut">
                <li><a href="profile">Perfil</a></li>
                <li><a href="#" (click)="logout()">Sair</a></li>
            </ng-container>
            <ng-template #loggedOut>
                <li><a href="signup">Cadastrar</a></li>
                <li><a href="signon">Login</a></li>
            </ng-template>
        </ul>
    </nav>
</header>