body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.textos {
    text-align: justify; /* Alinha o texto justificado */
    max-width: 800px; /* Define a largura máxima para o contêiner */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.textos p {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.membro {
    text-align: center;
    margin: 10px; /* Ajuste a margem conforme necessário */
    width: 200px; /* Define a largura fixa para cada membro */
    min-height: 300px; /* Define uma altura mínima para o contêiner */
    overflow: hidden; /* Garante que as imagens não ultrapassem a área do membro */
    display: flex; /* Para alinhar a imagem e o texto verticalmente */
    flex-direction: column; /* Empilha a imagem e o texto verticalmente */
    justify-content: center; /* Alinha os itens verticalmente */
}

.membro img {
    width: auto; /* Define a largura automática para a imagem */
    height: 200px; /* Define uma altura fixa para a imagem */
    object-fit: cover; /* Mantém a proporção da imagem e preenche o espaço */
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .equipe {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 10px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .membro {
        flex: 0 0 auto;
        width: 200px; /* Largura fixa para cada membro */
        margin: 0 10px;
        text-align: center;
    }

    .membro img {
        width: 100%; /* Ajusta a largura da imagem */
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover; /* Preenche o contêiner mantendo a proporção */
        border-radius: 50%; /* Borda arredondada */
        max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
        height: 200px; /* Altura fixa para todas as imagens */
    }
}






