<div class="profile-container">
    <h2>Perfil do Usuário</h2>
    <div *ngIf="user">
      <div class="profile-info">
        <p><strong>Nome:</strong> {{ user.name }} {{ user.surname }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Telefone:</strong> {{ user.phone }}</p>
        <p><strong>Perfil:</strong> {{ user.profile }}</p>
        <p><strong>Idade:</strong> {{ user.age }}</p>
        <p><strong>Data de Nascimento:</strong> {{ user.birthday | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>