<body>  
    <div id="container">
        <br>
        <p>Utilize este espaço para deixar uma mensagem de 
            conforto para as pessoas que estão passando por 
            problemas psicológicos. Esta mensagem poderá ser 
            selecionada para aparecer na página inicial.</p>
        <br>
        <form id="depoimentoForm" (submit)="sendTestimonial($event, depoimentoInput.value)">
            <input type="text" [(ngModel)]="testimonial" #depoimentoInput placeholder="Digite seu depoimento" />
            <button type="submit">Enviar Depoimento</button>  
        </form>
    </div>

    <div id="posts-container">
        <div *ngFor="let post of posts" class="post-container">
            <div class="post-content">
                <strong>Autor:</strong> {{ post.creatorName }} <br>
                <strong>Data de criação:</strong> {{ post.creationDate }} <br>
                <strong>Depoimento:</strong> {{ post.text }} <br>
                <!-- Adicione mais campos conforme necessário -->
                <!-- Botão de Delete -->
                <button (click)="deletePost(post.id)">Delete</button>
            </div>
        </div>
    </div>

    <div class="popup" [class.active]="errorMessage">
        <div class="popup-content">
          <span class="close" (click)="closePopup()">&times;</span>
          <p>{{ errorMessage }}</p>
        </div>
    </div>

    <div class="popup" [class.active]="sucessMessage">
        <div class="popup-content">
          <span class="close" (click)="closePopup()">&times;</span>
          <p>{{ errorMessage }}</p>
        </div>
    </div>
</body>