body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.form-container {
    width: 90%; /* Alterado para uma porcentagem da largura da tela */
    max-width: 400px; /* Definindo uma largura máxima */
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclui o padding na largura */
}


.form-grupo {
    margin-bottom: 20px;
}

.form-grupo label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-grupo input[type="text"],
.form-grupo input[type="email"],
.form-grupo input[type="tel"],
.form-grupo input[type="password"],
.form-grupo input[type="date"] {
    width: calc(100% - 22px); /* Ajusta a largura das caixas de entrada */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-grupo select {
    width: 100%; /* Ajusta a largura das caixas de entrada */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-grupo.checkbox-container {
    display: flex;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none; /* inicialmente oculta */
}

.form-checkbox {
    margin-top: 10px;
    color: #333;
    display: flex;
    align-items: center;
}

.form-checkbox input[type="checkbox"] {
    margin-right: 5px;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
  }
  
  .popup.active {
    display: block;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #aaa;
  }
  
  .close:hover {
    color: black;
  }
  