<body>
    <div class="form-container">
        <h3>Cadastrar</h3>
        <form id="cadastro-form" class="hidden">

            <div class="form-grupo">
                <label for="selecione">Selecione o tipo de usuário:</label>
                <select name="GrupoSelect" id="selecione" [(ngModel)]="user.profile">
                    <option value="Paciente">Paciente</option>
                    <option value="Psicólogo">Psicólogo</option>
                    <option value="Psiquiatra">Psiquiatra</option>
                </select>
            </div>

                <div class="form-grupo">
                    <label for="nome">Nome:</label>
                    <input 
                        type="text" 
                        id="name" 
                        [(ngModel)]="user.name"
                        name="name" >
                </div>

                <div class="form-grupo">
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" id="sobrenome" name="sobrenome" [(ngModel)]="user.surname" required>
                </div>
    


            <div class="form-grupo">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
                <span class="error-message">Campo obrigatório</span>
            </div>

            <div class="form-grupo">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" [(ngModel)]="user.password" required>
                <span class="error-message">Campo obrigatório</span>
            </div>

            <div class="form-grupo">
                <label for="confirmarSenha">Confirmar Senha:</label>
                <input type="password" id="confirmarSenha" name="confirmarSenha" [(ngModel)]="user.repassword" required>
                <span class="error-message">Campo obrigatório</span>
            </div>

            <div class="form-grupo">
                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000" [(ngModel)]="user.phone" required>
            </div>

            <div class="form-grupo">
                <label for="data_nascimento">Data de Nascimento:</label>
                <input type="date" id="data_nascimento" name="data_nascimento" [(ngModel)]="user.birthday" required>
                <span class="error-message">Campo obrigatório</span>
            </div>

            <div class="form-grupo checkbox-container">
                <input type="checkbox" id="termos" name="termos" required>
                <label for="termos">Concordo com os termos de uso de dados</label>
            </div>

            <form id="cadastro-form" class="hidden" (ngSubmit)="onSubmit()">
                <button type="submit">Cadastrar</button>
            </form>

        </form>
    </div>

      <div class="popup" [class.active]="errorMessage">
        <div class="popup-content">
          <span class="close" (click)="closePopup()">&times;</span>
          <p>{{ errorMessage }}</p>
        </div>
      </div>

      <div class="popup" [class.active]="sucessMessage">
        <div class="popup-content">
          <span class="close" (click)="closePopup()">&times;</span>
          <p>{{ errorMessage }}</p>
        </div>
      </div>
</body>